<%- include("partials/header")%>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo">
            <span class="icon"><i class="fas fa-pen-nib"></i></span>
        </div>
        <h2>EDIFICATION ONLINE</h2>
        <p>
            STEP INTO MODERN EDUCATION - ONLINE TUITION
        </p>
    </div>
</section>

<!-- about us sections -->
<section id="wrapper">
    <!-- One -->
    <section id="one" class="wrapper spotlight style1">
        <div class="inner">
            <div class="content">
                <h2 class="major">EDIFY YOURSELF!</h2>
                <p>
                    Building an online tuition community with excellent
                    education of lifelong learners!
                </p>
                <a href="#footer">Get Started</a>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
            <div class="content">
                <h2 class="major">Why Us?</h2>
                <p>
                <ol style="list-style: none;">
                    <li>No Registration fees.</li>
                    <li>One Student One Teacher.</li>
                    <li>Unlimited free demo classes until the student decides on a tutor.</li>
                    <li>Our educators are one of the best in the industry.</li>
                    <li>Student pocket friendly fees.</li>
                </ol>
                </p>
            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper spotlight style3">
        <div class="inner">
            <div class="content">
                <h2 class="major">JOIN OUR MAILING LIST</h2>
                <p>
                    <form action="/mail" method="POST" style="display: flex;">
                        <input type="email" placeholder="Email" name="mailing_email">
                        <button style="margin-left: 0.5rem;">Sign Up</button>
                    </form>
                </p>
            </div>
        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">Online Learning</h2>
            <p>
                Cras mattis ante fermentum, malesuada neque vitae, eleifend
                erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget
                mattis egestas, purus ipsum consequat orci, sit amet lobortis
                lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat
                auctor laoreet.
            </p>
            <section class="features">
                <article>
                    <a href="#" class="image"
                        ><img src="images/pic04.jpg" alt=""
                    /></a>
                    <h3 class="major">Sed feugiat lorem</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        vehicula id nulla dignissim dapibus ultrices.
                    </p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"
                        ><img src="images/pic05.jpg" alt=""
                    /></a>
                    <h3 class="major">Nisl placerat</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        vehicula id nulla dignissim dapibus ultrices.
                    </p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"
                        ><img src="images/pic06.jpg" alt=""
                    /></a>
                    <h3 class="major">Ante fermentum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        vehicula id nulla dignissim dapibus ultrices.
                    </p>
                    <a href="#" class="special">Learn more</a>
                </article>
                <article>
                    <a href="#" class="image"
                        ><img src="images/pic07.jpg" alt=""
                    /></a>
                    <h3 class="major">Fusce consequat</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        vehicula id nulla dignissim dapibus ultrices.
                    </p>
                    <a href="#" class="special">Learn more</a>
                </article>
            </section>
        </div>
    </section>

    <!-- Wrapper -->
    <section id="wrapper">
        <!-- One -->
        <section id="five" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"
                    ><img src="images/pic01.jpg" alt=""
                /></a>
                <div class="content">
                    <h2 class="major">RAHUL PANDEY</h2>
                    <p>
                        "Great teachers who push you to do your best..Great
                        facility and useful facility...I have seen alot of
                        improvement in my computer studies"
                    </p>
                    <a href="#" class="special">Read more</a>
                </div>
            </div>
        </section>

        <!-- Two -->
        <section id="six" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"
                    ><img src="images/pic02.jpg" alt=""
                /></a>
                <div class="content">
                    <h2 class="major">ANSH ACHARYA</h2>
                    <p>
                        "Computer proficiency is paramount in today's world.
                        Edification's pedagogy is contemporary, interesting and
                        challenging concurrently. Best Wishes to the passionate
                        teachers who are committed to providing students an
                        intriguing learning experience."
                    </p>
                    <a href="#" class="special">Read more</a>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="seven" class="wrapper spotlight style3">
            <div class="inner">
                <a href="#" class="image"
                    ><img src="images/pic03.jpg" alt=""
                /></a>
                <div class="content">
                    <h2 class="major">UMANG DARNAL</h2>
                    <p>
                        "Dedicated and committed faculty.Started by group of
                        bening educators aiming for prolific results.Must
                        recommended for everyone willing to learn."
                    </p>
                    <a href="#" class="special">Read more</a>
                </div>
            </div>
        </section>
    </section>

    <!-- Four -->
    <section id="eight" class="wrapper alt style1">
        <div class="inner">
            <h2 class="major">WE SUPPORT</h2>
            <section class="features">
                <div class="row">
                    <div class="col-1-medium">
                        <img src="images/NEET.jpg" alt="NEET" />
                    </div>
                    <div class="col-1-medium">
                        <img src="images/JEE.jpg" alt="JEE" />
                    </div>
                    <div class="col-1-medium">
                        <img src="images/ICSE.jpg" alt="ISCE" />
                    </div>
                    <div class="col-1-medium">
                        <img src="images/CBSE.jpg" alt="CBSE" />
                    </div>
                    <div class="col-1-medium">
                        <img src="images/CAMBRIDGE.jpg" alt="CAMBRIDGE" />
                    </div>
                    <div class="col-1-medium">
                        <img src="images/IB.png" alt="IB" />
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <h2 class="major">Contact Us</h2>
            <p>
                Call us during during our open hours. However, if we are closed
                you can always message us on WhatsApp!
            </p>
            <form method="POST" action="/contact">
                <div class="fields">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" required />
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="contact_email" id="email" required />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea
                            name="message"
                            id="message"
                            rows="4"
                            required
                        ></textarea>
                    </div>
                </div>
                <input type="submit" value="Send Message" />
            </form>
            <ul class="contact">
                <li class="icon brands fa-whatsapp">
                    <a href="https://wa.me/917980001678" target="_blank"
                        >(+91) 7980001678</a
                    >
                </li>
                <li class="icon solid fa-phone">
                    <a href="tel:+917980001678">(+91) 7980001678</a>
                </li>
                <li class="icon solid fa-envelope">
                    <a href="mailto:info@edificationonline.in"
                        >info@edificationonline.in</a
                    >
                </li>
                <li class="icon brands fa-facebook-f">
                    <a href="https://facebook.com/edificationonline">edificationonline</a>
                </li>
                <li class="icon solid fa-sticky-note">
                    <strong>HOURS</strong>
                    <br />
                    Monday - Friday: 7:30am - 4:30pm <br />
                    Saturday - Sunday: Closed
                </li>
            </ul>
            <ul class="copyright">
                <li>&copy; EDIFICATION. All rights reserved.</li>
                <li>Stay home, stay safe!</a></li>
            </ul>
        </div>
    </section>
    <%- include("partials/footer")%>